<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	{% if title %}
		<title>{{ title }} - Excelsior</title>
	{% else %}
		<title>Excelsior</title>
	{% endif %}

	<link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/application-startup.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/toolkit-startup.css') }}">
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<script src="https://apis.mapmyindia.com/advancedmaps/v1/pm55lnnwaypmtxgee3wqnfvffhmm4qi6/map_load?v1.1"></script>
	<!-- <script src="https://apis.mapmyindia.com/advancedmaps/v1/q3i84njiznct1jvuk5aj1l76s1m8unsw/map_load?v=0.1"></script> -->
	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

	{% block content %}
	{% endblock %}
	
</body>
</html>